<!DOCTYPE html>
<html lang="en-us" class="theme-blue cdc-home">
  <head>
    <% include layouts/header %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
      .main-card {
        min-height: 640px;
      }
      .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 0px;
      }
      .share {
        position: fixed;
        left: 2px;
        top: 80%;
      }
      .shareBtn {
        display: block;
        margin-bottom: 4px;
        background-color: #005eaa;
        border: none;
        color: white;
        padding: 7px 9px;
        font-size: 14px;
        cursor: pointer;
      }

      .shareBtnTw {
        background-color: #00acee;
      }

      /* Darker background on mouse-over */
      .shareBtn:hover {
        background-color: RoyalBlue;
      }
    </style>
  </head>

  <body class="no-js">
    <% include layouts/navbar %>
    <div class="container-fluid feature-area d-none d-md-block">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <div class="jumbotron jumbotron-dark p-0">
              <a href="#" class="td-none">
                <video autoplay muted loop id="myVideo">
                  <source src="https://assets.rumsan.com/askbhunte/assets/final-bhuntay.mp4	" type="video/mp4" />
                  Your browser does not support HTML5 video.
                </video>
                <div class="jumbotron-overlay overlay-middle-right w-50 p-3">
                  <p class="display-5 mb-0"><b>काेराेना भाइरस भनेकाे के हाे?</b></p>
                  <p class="mb-0" style="padding:5px;">
                    काेराेना भाइरसद्धारा संक्रमित माइक्रोबियल एजेन्ट पहिलो पटक चीनको वुहानमा सन् २०१९ काे डिसेम्बरमा रिपोर्ट गरिएको थियो यो नयाँ
                    प्रजातीको भाइरस हो जुन मानव प्रजातिमा पहिलो पटक देखिएको हो। यस भाइरसले सामान्य रुघाखोकी देखि गम्भीर प्रकारको तीव्र श्वासप्रश्वासको
                    समस्या तथा न्यूमोनियाबाट पनि संक्रमण भई मृगौला विफल भएर विरामीको मृत्यु समेत हुन सक्दछ|
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page Content Wrap -->
    <div class="container d-flex flex-wrap body-wrapper">
      <!-- Content -->
      <main class="col-12 order-lg-2" role="main" aria-label="Main Content Area">
        <div class="row visual-element">
          <div class="col">
            <!-- Visual Element, this is what was the site identity in TP3 -->
          </div>
        </div>
        <div class="section-nav-area">
          <nav role="navigation" aria-label="Section Nav" class="w-100 sticky-top">
            <!-- Page Title/Section Nav (mobile) -->
          </nav>
        </div>
        <div class="row">
          <div id="content" class="col content content-fullwidth">
            <div class="mb-3 card tp-related-pages fourth-level-nav d-none">
              <div class="card-header collapse-icon">
                <a
                  class="collapse-link float-right nav-minus fs0875"
                  data-toggle="collapse"
                  href="#collapse_218995e5fe40b58ed5"
                  aria-expanded="false"
                  aria-controls="collapse_218995e5fe40b58ed5"
                >
                  <svg viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Minus</title>
                    <path d="M19,13H5V11H19V13Z"></path>
                  </svg>
                </a>
                <div class="h4">Related Pages</div>
              </div>
              <div class="card-body collapse show" id="collapse_218995e5fe40b58ed5"></div>
            </div>

            <div class="syndicate">
              <div class="row d-none d-md-flex match-height">
                <div class="col-md-4">
                  <span href="" class="bt-5 bt-purple-p ds-8 mb-3 card-btn noLinking noDecoration card main-card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/corona-symptoms.jpg	"
                      alt="symptoms of corona virus"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">काेराेना भाइरस हुँदा देखापर्ने लक्षणहरु</div>
                      <p>
                        <li>१००.४ डिग्रीफरेनहाइट भन्दा माथि ज्वरो आउने ।</li>
                        <li>श्वास प्रश्वासमा अत्याधिक समस्य देखा पर्नु ।</li>
                        <li>रूघा खोकी बढ्नु ।</li>
                        <li>न्यूमोनिया</li>
                        <li>गम्भीर अवस्थाहरूमा संक्रमणीत विरामीको मृगौला विफल भई मृत्यु समेत हुन सक्दछ ।</li>
                      </p>
                      <br />
                      <div class="text-center">
                        <a href="/symptoms"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-4">
                  <span href="" class="bt-5 bt-cyan-s ds-8 mb-3 card-btn noLinking noDecoration card main-card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/corona-prevention.jpg	"
                      alt="prevention from corona virus"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">संक्रमणबाट जोगिने साधारण उपायहरू</div>
                      <p>
                        <li>खोक्दा र हाछ्युं गर्दा नाक र मुख छोप्ने ।</li>
                        <li>नियमित रूपमा साबुन पानीले हात धोऔ।</li>
                        <li>रूघा खोकी संक्रमित व्यक्तिको सम्पर्कबाट टाढा बस्ने ।</li>
                        <li>फ्लु जस्तो लक्षण देखिएका डाक्टरसंग परामर्श लिने ।</li>
                        <li>मासु तथा अण्डा राम्रोसँग पकाएर मात्र खाने।</li>
                        <li>बाहिर जाँदा मास्कको प्रयोग गरौं ।</li>
                      </p>
                      <div class="text-center">
                        <a href="/prevention"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="bt-5 bt-blue-p ds-8 mb-3 card-btn noLinking noDecoration card  main-card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/coronna-treatment.jpg	"
                      alt="treatment from corona"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">यसको उपचार</div>
                      <p>
                        आहिलेसम्म कोरोना भाईरसको कुनै पनि उपचार छैन। यदि तपाइलाई आफुलाई यस रोग लागेको संका लागेमा, तुरुन्तै नजिकको अस्पताल जानु होला।
                        जानु अघि मास्क लगाउनुस र राम्ररी हात धुनुहोस। डाक्टरसंग आफ्ना लक्षणहरुको कुरा गर्नुहोस। आफु कहाँ कहाँ गएको, को कोसंग भेटेको
                        कुरा खुलस्तरुपमा भन्नुहोस। डाक्टरहरुले अरुलाई पनि बचाउन सक्छन। डाक्टरको सल्लाह राम्रोसंग सुन्नुहोस र मान्नुहोस। डाक्टरले
                        अस्पतालमा नराखे, निको नभए सम्म घरमा अरुबाट टाडै बस्न्नुहोस। खास गरेर बुढाबुढी, बच्चाहरु र रोगीहरुसंग नभेट्नुस। नआतिनुस, आराम
                        गर्नुस - निकोहुने सम्भावना धेरै नै छ।
                      </p>
                      <div class="text-center">
                        <a href="/treatment"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="row d-md-none">
                <div class="col-md-4" style="margin-top: -10px;">
                  <span href="" class="bt-5 bt-orange-p ds-8 mb-3 card-btn noLinking noDecoration card"
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/e/eb/3D_medical_animation_corona_virus.jpg"
                      alt="symptoms of corona virus"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">काेराेना भाइरस भनेकाे के हाे?</div>
                      <br />
                      <p>
                        काेराेना भाइरसद्धारा संक्रमित माइक्रोबियल एजेन्ट पहिलो पटक चीनको वुहानमा सन् २०१९ काे डिसेम्बरमा रिपोर्ट गरिएको थियो| यो नयाँ
                        प्रजातीको भाइरस हो जुन मानव प्रजातिमा पहिलो पटक देखिएको हो। यस भाइरसले सामान्य रुघाखोकी देखि गम्भीर प्रकारको तीव्र
                        श्वासप्रश्वासको समस्या तथा न्यूमोनियाबाट पनि संक्रमण भई मृगौला विफल भएर विरामीको मृत्यु समेत हुन सक्दछ|
                      </p>
                      <div class="text-center">
                        <a href="/introduction"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-4">
                  <span href="/symptoms" class="bt-5 bt-purple-p ds-8 mb-3 card-btn noLinking noDecoration card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/corona-symptoms.jpg	"
                      alt="symptoms of corona virus"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">काेराेना भाइरस हुँदा देखापर्ने लक्षणहरु</div>
                      <p>
                        <li>१००.४ डिग्रीफरेनहाइट भन्दा माथि ज्वरो आउने ।</li>
                        <li>श्वास प्रश्वासमा अत्याधिक समस्य देखा पर्नु ।</li>
                        <li>रूघा खोकी बढ्नु ।</li>
                        <li>न्यूमोनिया</li>
                        <li>गम्भीर अवस्थाहरूमा संक्रमणीत विरामीको मृगौला विफल भई मृत्यु समेत हुन सक्दछ ।</li>
                      </p>
                      <div class="text-center">
                        <a href="/symptoms"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-4">
                  <span href="/prevention" class="bt-5 bt-cyan-s ds-8 mb-3 card-btn noLinking noDecoration card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/corona-prevention.jpg	"
                      alt="prevention from corona virus"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">संक्रमणबाट जोगिने साधारण उपायहरू</div>
                      <p>
                        <li>खोक्दा र हाछ्युं गर्दा नाक र मुख छोप्ने ।</li>
                        <li>नियमित रूपमा साबुन पानीले हात धोऔ।</li>
                        <li>रूघा खोकी संक्रमित व्यक्तिको सम्पर्कबाट टाढा बस्ने ।</li>
                        <li>फ्लु जस्तो लक्षण देखिएमा डाक्टरसंग परामर्श लिने ।</li>
                        <li>मासु तथा अण्डा राम्रोसँग पकाएर मात्र खाने।</li>
                        <li>अनावस्यक भिड भएको स्थानमा नजाऔं ।</li>
                        <li>बाहिर जाँदा मास्कको प्रयोग गरौं ।</li>
                      </p>
                      <div class="text-center">
                        <a href="/prevention"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="col-md-4">
                  <span href="/treatment" class="bt-5 bt-blue-p ds-8 mb-3 card-btn noLinking noDecoration card"
                    ><img
                      src="https://assets.rumsan.com/askbhunte/assets/coronna-treatment.jpg"
                      alt="treatment from corona"
                      class="card-img-top img-fluid p-0"
                    />
                    <div class="card-body ">
                      <div class="card-title h4 text-left">यसको उपचार</div>
                      <br />
                      <p>
                        आहिलेसम्म कोरोना भाईरसको कुनै पनि उपचार छैन। यदि तपाइलाई आफुलाई यस रोग लागेको संका लागेमा, तुरुन्तै नजिकको अस्पताल जानु होला।
                        जानु अघि मास्क लगाउनुस र राम्ररी हात धुनुहोस। डाक्टरसंग आफ्ना लक्षणहरुको कुरा गर्नुहोस। आफु कहाँ कहाँ गएको, को कोसंग भेटेको
                        कुरा खुलस्तरुपमा भन्नुहोस। डाक्टरहरुले अरुलाई पनि बचाउन सक्छन। डाक्टरको सल्लाह राम्रोसंग सुन्नुहोस र मान्नुहोस। डाक्टरले
                        अस्पतालमा नराखे, निको नभए सम्म घरमा अरुबाट टाडै बस्न्नुहोस। खास गरेर बुढाबुढी, बच्चाहरु र रोगीहरुसंग नभेट्नुस। नआतिनुस, आराम
                        गर्नुस - निकोहुने सम्भावना धेरै नै छ।
                      </p>
                      <div class="text-center">
                        <a href="/treatment"><button type="button" class="btn btn-primary btn-sm">थप जानकारी</button></a>
                      </div>
                    </div>
                  </span>
                </div>
              </div>

              <div class="row mt-3  match-height">
                <div class="col-md-6">
                  <div class="card bl-5 bl-cyan-s mb-3">
                    <div class="card-header h4 bg-white text-center">
                      <div style="font-size:40px;font-weight:800;">
                        सम्बन्धीत समाचारहरु
                      </div>
                      <small>Latest News</small>
                    </div>
                    <div class="card-body">
                      <div>
                        <ul class="mb-0 block-list">
                          <div class="ibox-content">
                            <div class="feed-activity-list">
                              <% news.forEach(function(post) { %>
                              <div class="feed-element">
                                <div class="clearfix">
                                  <strong style="font-size:18px;"><a href="/news/<%= post._id %>" style="text-decoration: none;"><%= post.title %></a></strong>
                                  <div style="margin-bottom: 10px;"></div>
                                  <img src="<%=post.image_url%>" class="image-fluid" style="max-width:280px;float:left;padding-right: 10px;" />
                                  <div><%= post.summary %></div>
                                  <div class="row mt-2">
                                    <div class="col" style="color: gray;">
                                      <small><a href="<%=post.url %>" style="text-decoration: none;color: gray;"><%= post.source %></a></small>
                                    </div>
                                    <div class="col text-right">
                                      <a href="/news/<%=post._id %>"><button type="button" class="btn btn-sm btn-success">पुरा पढ्नुहोस</button></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr width="90%" />
                              <% }); %>
                            </div>
                          </div>
                        </ul>
                        <div class="text-center">
                          <a href="/news"> <button type="button" class="btn btn-primary">सबै समाचारहरु पढ्नुहोस</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card bl-5 bl-cyan-s mb-3">
                    <div class="card-header h4 bg-white text-center">
                      <div style="font-size:40px;font-weight:800;">
                        तथ्याँक
                      </div>
                      <small>Live Data as of <%= corona_data.date %></small>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="table-responsive-md">
                          <h3 style="padding-bottom: 5px;text-align: center;">नेपालीको तथ्यांक</h3>
                          <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">जम्मा परिक्षण</th>
                                <th scope="col">नेगेटिभ</th>
                                <th scope="col">पोजेटिभ</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th class="text-center">४९६</th>
                                <th class="text-center">४९५</th>
                                <td class="text-center">१</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="text-right mb-3">
                            <small>
                              प्रकाशित: ३ चैत्र २०७६ | श्रोत:
                              <a target="_blank"
                                href="https://drive.google.com/file/d/1YJXWgJH336FosGq-pL_rCduDQ6GsL_c9/view?fbclid=IwAR0QD27Ky1jrMcgXDDwQsLwxOQVq8WMzXBO1Qj0gjCyUmpFeP9iJbGAt6a0"
                                >स्वास्थ तथा जनसंख्या मन्त्रालय</a target="_blank"
                              >
                            </small>
                          </div>
                          <h3 style="padding-bottom: 5px;text-align: center;">विश्वको तथ्यांक</h3>
                          <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">देश</th>
                                <th scope="col">जम्मा लागेका</th>
                                <th scope="col">मरेका</th>
                                <th scope="col">हाल बिरामीहरु</th>
                                <th scope="col">निको भएका</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for (var i = 0; i < 10; i++) { %>
                              <tr>
                                <th><%=data[i].country %></th>
                                <td class="text-right"><%=data[i].totalCases %></td>
                                <td class="text-right"><%=data[i].totalDeaths %></td>
                                <td class="text-right"><%=data[i].activeCases %></td>
                                <td class="text-right"><%=data[i].totalRecovered %></td>
                              </tr>
                              <% } %>
                            </tbody>
                          </table>
                          <div class="text-center">
                            <a href="/live"> <button type="button" class="btn btn-primary">सबै देशहरुको हेर्नुहोस</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3  match-height">
                <div class="col-md-6">
                  <div class="card bl-5 bl-cyan-s mb-3">
                    <div class="card-header h4 bg-white text-center">
                      <div style="font-size:40px;font-weight:800;">
                        <span style="color:#b51a06">झुटो</span> कि <span style="color:green">साँचो<br /></span>
                      </div>
                      <small>Myths vs. Reality</small>
                    </div>
                    <div class="card-body">
                      <div>
                        <ul class="mb-0 image-list">
                          <li>
                            <div class="text-center">
                              <a href="/myths/videos" style="font-weight: 800; text-decoration: underline;"
                                >फेसबुक र युटुबमा भेटिएका <span style="color:#b51a06">झुटा</span> भिडियोहरु यहाँ हेर्नुहोस।</a
                              >
                            </div>
                          </li>
                          <% myths.forEach(function(post) { %>
                          <li>
                            <div>
                              <h4 style="color:#b51a06">
                                <strong>झुटो: </strong><a href="/myths/<%=post._id%>" style="font-size:22px;color:#b51a06"><%- post.myth_np %></a>
                              </h4>
                              <br />
                              <span style="color:#2b5200"><strong>साँचो: </strong><%- post.reality_np %></span><br />
                              <p class="card-text float-right">
                                <small class="text-muted">Source: <a href="<%=post.source_url%>" target="_blank"><%- post.source_name %></a></small>
                              </p>
                            </div>
                          </li>
                          <% }); %>
                        </ul>
                        <div class="text-center">
                          <a href="/myths"> <button type="button" class="btn btn-primary">सबै झुटाहरु पढ्नुहोस</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card bl-5 bl-cyan-s mb-3">
                    <div class="card-header h4 bg-white text-center">
                      <div style="font-size:40px;font-weight:800;">
                        <span style="color:#b51a06">प्रश्न</span> र <span style="color:green">उत्तरहरु<br /></span>
                      </div>
                      <small>Frequently Asked Questions</small>
                    </div>
                    <div class="card-body">
                      <div class="panel-group" id="accordion">
                        <% faqs.forEach(function(data) { %>
                          <div class="card mb-2">
                        <div class="card-header">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" style="color:#b51a06" data-parent="#accordion" href="#faq-<%=data._id%>"><%- data.question %></a>
                                </h5>
                            </div>
                            <div id="faq-<%=data._id%>" class="panel-collapse collapse in mt-2">
                                <div class="panel-body" style="color:#2b5200">
                                  <%- data.answer %>
                                </div>
                            </div>
                        </div>
                      </div>
                        <% }); %>
                      </div>

                        <br />
                        <div class="text-center">
                          <a href="/faqs"> <button type="button" class="btn btn-primary">सबै पढ्नुहोस</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="share">
          <button class="shareBtn" data-js="facebook-share"><i class="fa fa-facebook-square fa-2x"></i></button>
          <button class="shareBtn shareBtnTw" data-js="twitter-share"><i class="fa fa-twitter-square fa-2x"></i></button>
        </div>
      </main>
    </div>
    <% include layouts/footer %>
    <script>
      $("#link1").on("click", () => {
        location.href = "https://nepalcorona.com/symptoms";
      });
      var twitterShare = document.querySelector('[data-js="twitter-share"]');
      let docUrl = encodeURI(document.URL);
      twitterShare.onclick = function(e) {
        e.preventDefault();
        var twitterWindow = window.open("https://twitter.com/share?url=" + docUrl, "twitter-popup", "height=350,width=600");
        if (twitterWindow.focus) {
          twitterWindow.focus();
        }
        return false;
      };

      var facebookShare = document.querySelector('[data-js="facebook-share"]');

      facebookShare.onclick = function(e) {
        e.preventDefault();
        var facebookWindow = window.open(
          `https://www.facebook.com/dialog/share?&app_id=2336751366393244&href=${docUrl}?lang=np&display=popup`,
          "facebook-popup",
          "height=350,width=600"
        );
        if (facebookWindow.focus) {
          facebookWindow.focus();
        }
        return false;
      };
    </script>
  </body>
</html>